@import "styles/variables.scss";

.button {
	color: $text-primary;
	min-height: 52px;
	padding: 0 10px;
	border-radius: $border-radius;
	cursor: pointer;
	transition: background-color 0.3s ease;
	background-color: $brand;
	border: none;
	display: inline-flex;
	align-items: center;

	&:hover {
		background-color: $brand-hover;
		color: $default-color;
	}

	&:active {
		background-color: $brand-active;
		color: $default-color;
	}

	&:disabled {
		pointer-events: none;
	}

	&.button_disabled {
		background-color: $brand-disabled;
		color: $default-color;
	}

	&__text {
		transition: color 0.3s ease;
		color: $default-color;
	}

	&__loader {
		transition: color 0.3s ease;
		margin-right: 8px;
		flex-shrink: 0;
	}
}
