@import "../../styles/variables.scss";

.s0 {
	font-size: $size0;
}

.s1 {
	font-size: $size1;
}

.s2 {
	font-size: $size2;
}

.s3 {
	font-size: $size3;
}

.s4 {
	font-size: $size4;
}

.s5 {
	font-size: $size5;
}

.s6 {
	font-size: $size6;
}

.s7 {
	font-size: $size7;
}

.light {
	font-weight: $light;
}

.medium {
	font-weight: $medium;
}

.bold {
	font-weight: $bold;
}
