@import "styles/margins.scss";
@import "styles/variables.scss";
@import "styles/paddings.scss";

html,
body {
	margin: 0;
	padding: 0;
	background-color: $background-color;
	// overflow: hidden;
	font-family: "Roboto", sans-serif;
}

#root {
	margin: 0;
	padding: 0;
	height: 100vh;
}

@media screen and (min-width: 1440px) {
	.Grid::-webkit-scrollbar {
		width: 14px;
	}

	.Grid::-webkit-scrollbar-track {
		background: $color-white;
		border-radius: 20px;
		border: 3px solid $color-white;
	}

	.Grid::-webkit-scrollbar-thumb {
		background-color: $color-primary;
		border-radius: 20px;
		border: 3px solid $color-white;
	}
}
