// font sizes
$size0: 5rem;
$size1: 3.5rem;
$size2: 2.5rem;
$size3: 2rem;
$size4: 1.5rem;
$size5: 1.25rem;
$size6: 1rem;
$size7: 0.75rem;
$size8: 0.5rem;

// weights
$medium: 500;
$bold: 700;

// colors
$background-color: rgba(255, 192, 118, 0.23);
$color-primary: #b5460f;
$color-secondary: #ffcb39;
$color-third: rgb(92, 2, 92);
$color-white: #ffffff;
$text-color-primary: black;
$text-color-secondary: #afadb5;
$text-color-white: white;
$text-color-main: #b5460f;
$loader-color: #e74c3c;

$brand: #b5460f;
$brand-hover: rgba(181, 70, 15, 0.7);
$brand-disabled: #d9d9d9;
$brand-active: #872d01;
$default-color: #fff;
$text-primary: #000;
$text-secondary: #afadb5;
$checkbox-disabled: rgba(255, 255, 255, 0.5);
$description-background: rgba(181, 70, 15, 0.33);
$box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

$space-xl: 24px;
$space-l: 20px;
$space-m: 16px;
$space-s: 14px;
$space-xs: 12px;
$space-xxs: 8px;
$border-radius: 10px;
