@import "styles/variables.scss";

.card_item {
	display: flex;
	height: 650px;
	flex-direction: column;
	align-items: center;

	&__content {
		background-color: $color-white;
		border-radius: 10px;
		width: 25vw;
		height: 100%;
		overflow: hidden;
		cursor: pointer;
		position: relative;
		transition: all 0.5s;
	}

	&__content:hover {
		box-shadow: 0px 2px 20px rgb(128, 128, 128);
	}

	&__content:hover &-img {
		transform: scale(1.1);
	}

	&-img {
		width: 100%;
		object-fit: contain;
		border-radius: 10px 10px 0 0;
		transition: all 0.5s;
	}

	&__info {
		display: flex;
		flex-direction: column;
		padding: 1.5rem;

		&__caption-div {
			display: flex;
			align-items: flex-start;
			gap: 0.5rem;
		}

		&__caption-svg {
			height: 1.25rem;
		}

		&__subtitle {
			margin-bottom: 4rem;
		}

		&__content {
			position: absolute;
			bottom: 0;
			left: 0;
		}

		&-btn {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}

@media (max-width: 1700px) {
	.card_item {
		height: 600px;
	}
}

@media (max-width: 1400px) {
	.card_item {
		height: 550px;
	}
}

@media screen and (max-width: 1200px) {
	.card_item {
		height: 650px;

		&__content {
			width: 40vw;
		}
	}
}

@media (max-width: 900px) {
	.card_item {
		height: 550px;
	}
}

@media screen and (max-width: 650px) {
	.card_item {
		height: 650px;

		&__content {
			width: 70vw;
		}
	}
}

@media (max-width: 500px) {
	.card_item {
		height: 550px;
	}
}

@media screen and (max-width: 450px) {
	.card_item {
		&__content {
			width: 80vw;
		}
	}
}

@media (max-width: 350px) {
	.card_item {
		height: 500px;
	}
}
