@import "../../styles/variables.scss";

.recipe_list {
	padding-top: 56px;
	color: $text-color;
	display: flex;
	flex-wrap: wrap;
}

@media (min-width: 650px) {
	.recipe_list > * {
		width: calc(33% - 2rem);
		margin: 1rem;
	}
}

@media (max-width: 1000px) {
	.recipe_list > * {
		width: calc(50% - 2rem);
		margin: 1rem;
	}
}

@media (max-width: 650px) {
	.recipe_list > * {
		width: 100%;
		margin: 0.5rem;
	}
}
