@import "styles/variables.scss";

.recipe_list {
	&__intro {
		width: 100%;
	}

	&__input_search {
		display: flex;
		justify-content: center;
		gap: 1rem;
		margin: 1rem 2rem 1rem 0;

		&__input-div {
			display: flex;
			justify-content: center;
			width: 80vw;
		}
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		color: $text-color-primary;
		justify-content: center;

		&_item:nth-of-type(-n + 3) {
			padding-top: 1rem;
		}
	}
}

@media (min-width: 650px) {
	.recipe_list__container > * {
		width: calc(33% - 2rem);
	}
}

@media (max-width: 1200px) {
	.recipe_list__container > * {
		width: calc(50% - 2rem);
		margin: 1rem;
	}

	.recipe_list {
		&__intro {
			width: 100%;
		}

		&__container {
			display: flex;
			flex-wrap: wrap;
			color: $text-color-primary;
			justify-content: center;

			&_item:nth-child(3) {
				padding-top: 0;
			}

			&_item:nth-of-type(-n + 2) {
				padding-top: 1rem;
			}
		}

		&__input_search {
			&__input-div {
				width: 75vw;
			}
		}
	}
}

@media (max-width: 900px) {
	.recipe_list {
		&__input_search {
			&__input-div {
				width: 70vw;
			}
		}
	}
}

@media (max-width: 650px) {
	.recipe_list__container > * {
		width: 100%;
		margin: 0.5rem;
	}

	.recipe_list {
		&__input_search {
			margin: 1rem 1rem 1rem 0;

			&__input-div {
				width: 60vw;
			}
		}
	}
}
